#about_me {
  display: flex;
  flex-direction: column;

  #profil_img {
    img {
      object-fit: cover;
      border-radius: 50%;
      border: 3px solid var(--main-color-dark);
    }
    div {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      text-align: center;
    }
  }
}
