/*SECTION CONTACT*/
#contact {
  display: flex;
  flex-direction: column;
  text-align: center;
  border-bottom-right-radius: inherit;
  border-bottom-left-radius: inherit;
  img {
    height: 30px;
    margin-right: 20px;
  }
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  a {
    text-decoration: none;
    padding: 10px;
    border-radius: 15px;
    &:hover {
      color: #fff;
      background-color: #11473b;
    }
  }
}
