#education {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  & > * {
    margin-bottom: 80px;
  }
  h2 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 60px;
  }
  .logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .logo {
      margin: 0.5em;
    }
  }
}
