.footer_content {
  display: flex;
  justify-content: space-between;
  border-top: 2px solid var(--main-color-dark);
  padding-top: var(--main-padding);
  .footer_logos {
    display: flex;
    & > *:not(:last-child) {
      margin-right: 1rem;
    }
  }
}
