@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(https://fonts.bunny.net/css?family=roboto:400,500,700);
@import url(https://fonts.bunny.net/css?family=gothic-a1:400,500,700);
@import '_root';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  min-height: 100%;
  background: radial-gradient(circle at 50%, #168d8f, #000);
  font-family: 'Gothic A1', Verdana, Tahoma, Arial, sans-serif;
  font-size: var(--main-font-size);
  color: var(--main-color-light);
  letter-spacing: 0.1em;
}
main {
  padding: 1em;
}

/*GENERAL*/
.wrapper {
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  /*HEADER*/
  header {
    position: relative;
    position: sticky;
    top: 0;
    padding: var(--main-padding) 0;
    background: rgba(1, 1, 1, 0.7);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(4px);
  }

  /* Bloc général */
  .main-block {
    margin: 0 auto;

    strong {
      font-weight: bold;
    }

    /* SECTION "EDUCATION" */
  }
  /*FOOTER*/
  footer {
    text-align: center;
    padding: var(--main-padding) 0;
  }
  .not-found {
    text-align: center;
  }
  .not-found a {
    color: #4979ff;
    text-decoration: underline;
  }
}
