@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(https://fonts.bunny.net/css?family=roboto:400,500,700);
@import '_root';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  min-height: 100%;
  background: radial-gradient(circle at 50%, #168d8f, #000);
  font-family: 'Gothic A1', Verdana, Tahoma, Arial, sans-serif;
  font-size: var(--main-font-size);
  color: var(--main-color-light);
  letter-spacing: 0.1em;
}

/*GENERAL*/
.wrapper {
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;

  /*HEADER*/
  header {
    // background: rgba(1, 1, 1, 0.7);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(4px);
  }
}
