@import '_vars';

.home_page {
  background: url('../../public/images/computer.jpeg') center;
  border-radius: var(--radius);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: var(--main-padding);
    margin: var(--main-padding);
    border-radius: inherit;
    background-color: var(--main-color-light);
    .title {
      a {
        text-decoration: none;
        color: $base-color;
      }
    }
    .about {
      background-color: var(--main-bg-color);
      padding: var(--main-padding-btn);
      color: #fff;
      text-decoration: none;
      border-radius: inherit;
      margin-top: 2em;
    }
  }
}
